<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(#10001f, #f83434, #10001f);
            height: 100vh;
        }
        
        .list-group {
            font-size: 20px;
            font-weight: 500;
        }
        
        a.delete .update {
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        a.delete .update:hover {
            text-decoration: none;
            color: #fff;
        }
        
        button {
            width: 45%;
            height: 30px;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            color: #fff;
            background: #b5040f;
            transition: .5s;
        }
        
        button:hover {
            background: #db6c05;
            transform: scale(1.01);
            letter-spacing: 1px;
        }
        
        .list-group-item {
            margin: 5px;
            border-radius: 20px;
        }
    </style>
</head>

<body>